In [2]:
5*88

440


## Тройка фильмов  
1. Бегущий по лезвию **Ридли Скот**
1. Лучше звоните Солу **Винс Гиллиган**
1. Домашний арест **Семен Слепаков**

Open: [zz.kl.com.ua](http://zz.kl.com.ua/)

11111 = 22222 =

This <span style="background:yellow">word</span> is not black.

In [ ]:
from IPython.display import HTML, display
import tabulate
table = [["Sun",696000,1989100000],
         ["Earth",6371,5973.6],
         ["Moon",1737,73.5],
         ["Mars",3390,641.85]]
display(HTML(tabulate.tabulate(table, tablefmt='html')))

ModuleNotFoundError: No module named 'tabulate'