[codecademy](https://www.codecademy.com/learn/learn-python)

#### Hello World!

In [1]:
print("hello")

hello

#### Print Statements

#### Strings

In [2]:
print ("Hello "+"Michael")

Hello Michael

#### Handling Errors

#### Variables
todays_date = 9

#### Arithmetic
product = 5*3  
remainder = 1398 % 11

#### Updating Variables

In [3]:
january_to_june_rainfall = 1.93 + 0.71 + 3.53 + 3.41 + 3.69 + 4.50
annual_rainfall = january_to_june_rainfall

july_rainfall = 1.05
annual_rainfall += july_rainfall

august_rainfall = 4.91
annual_rainfall += august_rainfall

september_rainfall = 5.16
annual_rainfall += september_rainfall
october_rainfall = 7.20
annual_rainfall += october_rainfall
november_rainfall = 5.06
annual_rainfall += november_rainfall
december_rainfall = 4.06
annual_rainfall += december_rainfall
print(annual_rainfall)

45.21000000000001

#### Comments

In [4]:
city_name = "St. Potatosburg"
#population
city_pop = 340000

#### Numbers

In [ ]:
cucumbers = 1
price_per_cucumber = 3.25
total_cost = cucumbers * price_per_cucumber
print(total_cost)

#### Two Types of Division

In [6]:
cucumbers = 100
num_people = 6
whole_cucumbers_per_person = cucumbers // num_people
print(whole_cucumbers_per_person)
float_cucumbers_per_person  = float (cucumbers) / num_people
print(float_cucumbers_per_person)

16
16.666666666666668

#### Multi-line Strings

In [ ]:
haiku = """The old pond,
A frog jumps in:
Plop!"""

#### Booleans

In [ ]:
# Hi! I'm Maria and I live in script.py.
# I'm an expert Python coder.
# I'm 21 years old and I plan to program cool stuff forever.
age_is_12 = False
name_is_maria = True

#### ValueError
float_1 = 0.25
float_2 = 40.0
product = float_1*float_2
big_string = "The product was " + str(product)

In [7]:
skill_completed = "Python Syntax"
exercises_completed = 13
#The amount of points for each exercise may change, because points don't exist yet
points_per_exercise = 5
point_total = 100
point_total += exercises_completed * points_per_exercise
print("I got "+str(point_total)+" points!")

I got 165 points!

### Strings

#### Escaping characters
'This isn\'t flying, this is falling with style!'

#### Access by Index

In [9]:
fifth_letter =  "MONTY"[4]
print (fifth_letter)

Y

#### String methods
len()
lower()
upper()
str()

In [10]:
parrot = "Norwegian Blue"
print(len(parrot))

14

#### lower()

In [11]:
parrot = "Norwegian Blue"

print(parrot.lower())

norwegian blue

#### upper()

In [ ]:
parrot = "norwegian blue"

print(parrot.upper())

#### str()

In [ ]:
pi = 3.14
print(str(pi))

#### Dot Notation

In [12]:
ministry = "The Ministry of Silly Walks"

print(len(ministry)) 
print(ministry.upper())

27
THE MINISTRY OF SILLY WALKS

#### Printing Strings

#### Printing Variables

In [ ]:
the_machine_goes = "Ping!"
print(the_machine_goes )

#### String Concatenation

In [13]:
print("Spam "+ "and "+ "eggs")

Spam and eggs

#### Explicit String Conversion

In [ ]:
print( "The value of pi is around " + str(3.14))

#### String Formatting with %, Part 1

In [15]:
string_1 = "Camelot"
string_2 = "place"

print ("Let's not go to %s. 'Tis a silly %s." % (string_1, string_2))

Let's not go to Camelot. 'Tis a silly place.

#### String Formatting with %, Part 2

In [16]:
name = "Michael"
quest = "coding"
color = "blue"

print ("Ah, so your name is %s, your quest is %s, " \
"and your favorite color is %s." % (name, quest, color))

Ah, so your name is Michael, your quest is coding, and your favorite color is blue.

#### And Now, For Something Completely Familiar

### The datetime Library

#### Getting the Current Date and Time

In [17]:
from datetime import datetime
now = datetime.now()
print(now)

2020-02-09 21:42:07.177332

#### Extracting Information

In [18]:
from datetime import datetime
now = datetime.now()
print(now)
print(now.year)
print(now.month)
print(now.day)

2020-02-09 21:45:53.309288
2020
2
9

#### Hot Date

In [19]:
from datetime import datetime
now = datetime.now()
print("%02d/%02d/%04d" %(now.day,now.month,now.year))

09/02/2020

#### Pretty Time

#### Grand Finale

In [22]:
from datetime import datetime
now = datetime.now()

print ('%02d/%02d/%04d %02d:%02d:%02d' 
       % (now.month, now.day, now.year, 
          now.hour, now.minute, now.second))

02/09/2020 22:01:56

#### Go With the Flow

In [ ]:
# Assign True or False as appropriate on the lines below!

# Set this to True if 17 < 328 or to False if it is not.
bool_one = 17 < 328   # We did this one for you!

# Set this to True if 100 == (2 * 50) or to False otherwise.
bool_two = 100 == (2 * 50)

# Set this to True if 19 <= 19 or to False if it is not.
bool_three = 19 <= 19

# Set this to True if -22 >= -18 or to False if it is not.
bool_four = -22 >= -18

# Set this to True if 99 != (98 + 1) or to False otherwise.
bool_five = 99 != (98 + 1)

#### Compare... Closelier!

#### How the Tables Have Turned

#### Conditional Statement Syntax

In [ ]:
response = 'Y'

answer = "Left"
if answer == "Left":
    print ("This is the Verbal Abuse Room, you heap of parrot droppings!")
    
# Will the above print statement print to the console?
# Set response to 'Y' if you think so, and 'N' if you think not.

#### If You're Having...

In [1]:
def using_control_once():
    if True:
        return "Success #1"

def using_control_again():
    if True:
        return "Success #2"

print (using_control_once())
print (using_control_again())

Success #1
Success #2

#### Else Problems, I Feel Bad for You, Son...

#### I Got 99 Problems, But a Switch Ain't One

In [2]:
def greater_less_equal_5(answer):
    if answer > 5:
        return 1
    elif answer<5:          
        return -1
    else:
        return 0
        
print (greater_less_equal_5(4))
print (greater_less_equal_5(5))
print (greater_less_equal_5(6))

-1
0
1

#### The Big If

In [3]:
# Complete the if and elif statements!
def grade_converter(grade):
    if grade>=90:
        return "A"
    elif grade>=80 and grade<90:
        return "B"
    elif grade>=70 and grade<80:
        return "C"
    elif grade>=65 and grade<70:
        return "D"
    else:
        return "F"
      
# This should print an "A"      
print (grade_converter(92))

# This should print a "C"
print (grade_converter(70))

# This should print an "F"
print (grade_converter(61))

A
C
F

### Break It Down
Ahoy! (or Should I Say Ahoyay!)  
Check Yourself!  
Check Yourself... Some More  
Pop Quiz!  
Ay B C  
Word Up  
Move it on Back  
Ending Up

### What Good are Functions? 
Function Junction  
Call and Response  
Parameters and Arguments  
Functions Calling Functions  
Practice Makes Perfect  
I Know Kung Fu

####

In [4]:
import math
# Ask Python to print sqrt(25) on line 3.
print (math.sqrt(25))

5.0

#### Generic Imports

#### Function Imports
from math import sqrt

#### Universal Imports
from math import *

#### Here Be Dragons

In [6]:
import math # Imports the math module
everything = dir(math) # Sets everything to a list of things from math
print (everything) # Prints 'em all!

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

#### On Beyond Strings

#### max()

In [7]:
maximum = max([4,7,2,])

print (maximum)

7

#### min()

In [ ]:
minimum = min([4,7,2,])

print (minimum)

#### abs()

In [ ]:
absolute = abs(-42)

print (absolute)

#### type()
a = 3
b = 3.0
c = ""
print(type(a))
print(type(b))
print(type(c))

In [ ]:
def shut_down(s):
  if s == "yes":
    return "Shutting down"
  elif s == "no":
    return "Shutdown aborted"
  return "Sorry"

In [8]:
import math
print(math.sqrt(13689))

117.0

#### Review: Built-In Functions

In [10]:
def distance_from_zero(r):
  if type(r) == type(1) or type(r) == type(1.1):
    print(type(r))
    return abs(r)
  else:
    return "Nope"
distance_from_zero(-42)

<class 'int'>

42

### Before We Begin
Planning Your Trip  
Transportation   
Pull it Together   
Hey, You Never Know!   
Plan Your Trip!

In [23]:
def hotel_cost(nights):
  return 140*nights

def plane_ride_cost(city):
  if city == "Charlotte":
    return 183
  elif city == "Tampa":
    return 220
  elif city == "Pittsburgh":
    return 222
  elif city == "Los Angeles":
    return 475

def rental_car_cost(days):
  cost = days * 40
  if days >= 7:
    cost -= 50
  elif days >=3:
    cost -= 20
  return cost

def trip_cost(city, days, spending_money):
  sum = rental_car_cost(days)
  sum += hotel_cost(days-1)
  sum += plane_ride_cost(city)
  sum += spending_money
  return sum

print(trip_cost("Los Angeles",5, 600))

1815

### Introduction to Lists
Access by Index Late Arrivals & List Length List Slicing Slicing Lists and Strings Maintaining Order For One and All More with 'for' This Next Part is Key New Entries Changing Your Mind

Remove a Few Things

In [ ]:
backpack = ['xylophone', 'dagger', 'tent', 'bread loaf']
backpack.remove("dagger")

#### It's Dangerous to Go Alone! Take This

In [1]:
inventory = {
  'gold' : 500,
  'pouch' : ['flint', 'twine', 'gemstone'], # Assigned a new list to 'pouch' key
  'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}

# Adding a key 'burlap bag' and assigning a list to it
inventory['burlap bag'] = ['apple', 'small ruby', 'three-toed sloth']

# Sorting the list found under the key 'pouch'
inventory['pouch'].sort() 

# Your code here
inventory["pocket"]=["seashell", "strange berry", "lint"]
inventory["backpack"].sort()
inventory["backpack"].remove("dagger")
inventory["gold"] += 50

### BeFOR We Begin

In [ ]:
names = ["Adam","Alex","Mariah","Martine","Columbus"]
for i in names:
  print(i)

#### This is KEY!

In [ ]:
webster = {
  "Aardvark" : "A star of a popular children's cartoon show.",
  "Baa" : "The sound a goat makes.",
  "Carpet": "Goes on the floor.",
  "Dab": "A small amount."
}

# print out all of the definitions
for i in webster:
  print(webster[i])

#### Control Flow and Looping

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

for i in a:
  if i%2==0:
    print(i)

#### Lists + Functions

In [ ]:
# Write your function below!
x = ["fizz","cat","fizz"]
def fizz_count(x):
  count = 0
  for i in x:
    if i == "fizz":
      count += 1
  return count

#### String Looping

#### Your Own Store!

#### Keeping Track of the Produce

#### Something of Value

In [3]:
prices = {
  "banana" : 4,
  "apple"  : 2,
  "orange" : 1.5,
  "pear"   : 3,
}
stock = {
  "banana" : 6,
  "apple"  : 0,
  "orange" : 32,
  "pear"   : 15,
}

for key in prices:
  print (key)
  print ("price: %s" % prices[key])
  print ("stock: %s" % stock[key])

total = 0
for i in prices:
  v = prices[i]*stock[i]
  print(v)
  total += v
print(total)

banana
price: 4
stock: 6
apple
price: 2
stock: 0
orange
price: 1.5
stock: 32
pear
price: 3
stock: 15
24
0
48.0
45
117.0

#### Shopping at the Market

In [ ]:
shopping_list = ["banana", "orange", "apple"]

stock = {
  "banana": 6,
  "apple": 0,
  "orange": 32,
  "pear": 15
}
    
prices = {
  "banana": 4,
  "apple": 2,
  "orange": 1.5,
  "pear": 3
}

# Write your code below!
def compute_bill(food ):
  total=0
  for i in food :
    if stock[i] > 0:
      total += prices[i]
      stock[i] -= 1
  return total

print(compute_bill(shopping_list))

### Lesson Number One
What's the Score? Put It Together For the Record Just Weight and See Sending a Letter

In [ ]:
lloyd = {
  "name": "Lloyd",
  "homework": [90.0, 97.0, 75.0, 92.0],
  "quizzes": [88.0, 40.0, 94.0],
  "tests": [75.0, 90.0]
}
alice = {
  "name": "Alice",
  "homework": [100.0, 92.0, 98.0, 100.0],
  "quizzes": [82.0, 83.0, 91.0],
  "tests": [89.0, 97.0]
}
tyler = {
  "name": "Tyler",
  "homework": [0.0, 87.0, 75.0, 22.0],
  "quizzes": [0.0, 75.0, 78.0],
  "tests": [100.0, 100.0]
}

# Add your function below!
def average(numbers):
  total = sum(numbers)
  return float(total)/len(numbers)

def get_average(student):
  hemework = average(student["homework"])
  quizzes = average(student["quizzes"])
  tests = average(student["tests"])
  sum = 0.1*hemework + 0.3*quizzes + 0.6*tests 
  return sum
  
def get_letter_grade(score):
  if score >=90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

# print(get_letter_grade(get_average(lloyd)))   

def get_class_average(class_list):
  results = []
  for student  in class_list:
    results.append(get_average(student))
  return average(results)

students = [alice, lloyd, tyler]
n = get_class_average(students)
print(n)
print(get_letter_grade(n))

### List accessing
List element modification Appending to a list Removing elements from listsChanging the functionality of a function More than one argument Strings in functions

####

####

####

####

####

####

####

####

####

####

####

####

####

####

09.02 10-15
10.02 20-30-35-40-50

a|b|c|d|e|f 
--|--|--|--|--|-- 
parrot|попугай|Silly |глупый|Explicit |явное 
Familiar|знакомый|perform |выполнять|| 
||||| 
|||||